$mobile: 375px;
$desktop: 1366px;

$defMargin:15px;

$headerColor:#d94336;
$headerFontColor:#ffffff;
$headerH:40px;

$devicesButtonColor:#ebebeb;
$devicesButtonFontColor:#000000;
$devicesButtonH:50px;

$defBorderColor:#ffffff;
$defBorderSize:2px;

$switchButtonOffBg:#000000;
$switchButtonOffFontColor:#ffffff;
$switchButtonOnBg:#ffffff;
$switchButtonOnFontColor:#000000;


